{% extends "portal/base.html" %}

{% block content %}
    <p>Details about claim ID-{{ claim.id }}</p>

    <p><b>Claim ID:</b> {{ claim.id }}</p>
    <p><b>Member:</b> {{ claim.member }}</p>
    <p><b>Product:</b> {{ claim.product }}</p>
    <p><b>Claim Status:</b> {{ claim.status }}</p>
    <p><b>Message:</b> {{ claim.text|linebreaks }}</p>
    <p>
        <b>Attachment:</b>
        <ul>
            {% for attachment in attachments %}
                <li>
                    <a href="{{ attachment.attachment.url }}" target="_blank ">
                        {{ attachment.attachment }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </p>

{% endblock content %}
